.portfolio {
    padding-top: 50px;
    margin: 50px 0;   
}

.carousel {
    display: flex; 
    align-items: center;
    justify-content: center;
    position: relative;
    /* width: 900px; */
    height: 400px;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden; 
    border-radius: 15px;

}

.image-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
}

.image-container img.active {
    display: block;
}

.arrow {
    background-color: #333;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

.arrow:hover {
    background-color: #555;
}

.about {
    padding: 50px 0;

}

.about-container {
    background: url('../images/black-background.jpg') center/cover no-repeat;
    margin-right: 30px; 
    margin-left: 30px; 
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.about-box {
    margin-right: 30px; 
    margin-left: 30px; 
    margin-top: 30px; 
    margin-bottom: 30px; 
    background: #f8f9fa;
    padding: 40px;
    text-align: center;
    width: 90%;
    max-width: 500px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    transition: all 0.4s ease-in-out;
}


.about-box:hover {
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.about-box h2 {
    font-family: "Poppins", sans-serif;
}

.about-box p {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

/* General Portfolio Layout */
/* Instagram Portfolio Section */
.instagram-portfolio {
    margin-right: 30px; 
    margin-left: 30px; 
    padding-right: 6rem;
    padding-left: 6rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #111;
    color: #fff;
    gap: 10px;
}

/* Portfolio Header Styling */
.instagram-portfolio h2 {
    font-size: 4rem;
    font-weight: 550;
    font-family: "Poppins", sans-serif;
    margin-bottom: 40px;
}



.instagram-gallery-container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

/* Gallery of Images */
.instagram-gallery {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    transition: transform 0.3s ease-in-out;

}

.instagram-gallery img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 10px;
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 10px;
    transition: transform 0.3s